## FleaFPGA_Ohm_A5 Pin Constraints File
## Author: Valentin Angelovski
## Date: 15th January 2018
##
## ***** ECP5 PIN DECLARATIONS *****
## USER LED;
IOBUF PORT "n_led1" PULLMODE=NONE IO_TYPE=LVCMOS25 ;
LOCATE COMP "n_led1" SITE "P2" ;
## USB SLAVE UART; ## Swapped in PCB rev 2v4!!!
IOBUF PORT "slave_rx_i" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "slave_tx_o" IO_TYPE=LVCMOS25 ;
IOBUF PORT "slave_cts_i" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
LOCATE COMP "slave_tx_o" SITE "P1" ;
LOCATE COMP "slave_rx_i" SITE "P3" ;
LOCATE COMP "slave_cts_i" SITE "Y2" ;
## 25MHz MASTER CLOCK AND RESET;
IOBUF PORT "clk" IO_TYPE=LVCMOS25 ;
FREQUENCY PORT "clk" 25.0 MHz ;
IOBUF PORT "reset_n" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "reset_n" SITE "T17" ;
LOCATE COMP "clk" SITE "H2" ;
## IOBUF PS/2 AND USB HOST PORTS
IOBUF PORT "usb_dp[0]" IO_TYPE=LVCMOS25 PULLMODE=NONE SLEWRATE=SLOW DRIVE=8 ;
IOBUF PORT "usb_dn[0]" IO_TYPE=LVCMOS25 PULLMODE=NONE SLEWRATE=SLOW DRIVE=8 ;
IOBUF PORT "usb_dp[1]" IO_TYPE=LVCMOS25 PULLMODE=NONE SLEWRATE=SLOW DRIVE=8 ;
IOBUF PORT "usb_dn[1]" IO_TYPE=LVCMOS25 PULLMODE=NONE SLEWRATE=SLOW DRIVE=8 ;
IOBUF PORT "usb_pull" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
## IOBUF RASPI COMPATIBLE GPIO HEADER
## NOTE: GPIO_5, GPIO_7, GPIO_10 AND GPIO_24 MUST ALL BE COMMENTED OUT WHEN USING THESE PINS AS SIGMA DELTA ADC INPUTS!
IOBUF PORT "GPIO_IDSD" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_IDSC" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_3" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_4" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "GPIO_5" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_6" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_7" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "GPIO_8" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "GPIO_9" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "GPIO_10" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "GPIO_11" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "GPIO_12" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_13" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_14" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_15" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "GPIO_16" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "GPIO_17" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "GPIO_18" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "GPIO_19" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_20" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_21" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_22" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "GPIO_23" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "GPIO_24" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "GPIO_25" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_26" IO_TYPE=LVCMOS33 ;
IOBUF PORT "GPIO_27" IO_TYPE=LVCMOS33 ;
LOCATE COMP "GPIO_2" SITE "D17" ;
LOCATE COMP "GPIO_3" SITE "C18" ;
LOCATE COMP "GPIO_4" SITE "D19" ;
LOCATE COMP "GPIO_17" SITE "F17" ;
LOCATE COMP "GPIO_27" SITE "G18" ;
LOCATE COMP "GPIO_22" SITE "F19" ;
LOCATE COMP "GPIO_10" SITE "G19" ;
LOCATE COMP "GPIO_9" SITE "J19" ;
LOCATE COMP "GPIO_11" SITE "K19" ;
LOCATE COMP "GPIO_IDSD" SITE "N19" ;
LOCATE COMP "GPIO_5" SITE "T20" ;
LOCATE COMP "GPIO_6" SITE "T19" ;
LOCATE COMP "GPIO_13" SITE "N16" ;
LOCATE COMP "GPIO_19" SITE "U18" ;
LOCATE COMP "GPIO_26" SITE "U17" ;
LOCATE COMP "GPIO_14" SITE "C20" ;
LOCATE COMP "GPIO_15" SITE "E17" ;
LOCATE COMP "GPIO_18" SITE "D18" ;
LOCATE COMP "GPIO_23" SITE "E20" ;
LOCATE COMP "GPIO_24" SITE "D20" ;
LOCATE COMP "GPIO_25" SITE "L20" ;
LOCATE COMP "GPIO_8" SITE "M20" ;
LOCATE COMP "GPIO_7" SITE "L19" ;
LOCATE COMP "GPIO_IDSC" SITE "N20" ;
LOCATE COMP "GPIO_12" SITE "R18" ;
LOCATE COMP "GPIO_16" SITE "M17" ;
LOCATE COMP "GPIO_20" SITE "N17" ;
LOCATE COMP "GPIO_21" SITE "P16" ;
##
## SIGMA-DELTA ADC INPUTS
## NOTE: THESE PIN DEFINITIONS MUST BE COMMENTED OUT WHEN GPIO_5, GPIO_7, GPIO_10 AND GPIO_24 USED AS PLAIN OLD DIGITAL GPIO!
##IOBUF PORT "ADC3_error" IO_TYPE=LVCMOS33 ;
##LOCATE COMP "ADC3_error" SITE "R20" ;
##IOBUF PORT "ADC3_input" IO_TYPE=LVCMOS33D PULLMODE=NONE ;
##LOCATE COMP "ADC3_input" SITE "T20" ;
##LOCATE COMP "ADC2_error" SITE "P20" ;
##IOBUF PORT "ADC2_error" IO_TYPE=LVCMOS33 ;
##IOBUF PORT "ADC2_input" PULLMODE=NONE IO_TYPE=LVCMOS33D ;
##LOCATE COMP "ADC2_input" SITE "L19" ;
##IOBUF PORT "ADC1_error" IO_TYPE=LVCMOS33 ;
#IOBUF PORT "ADC1_input" IO_TYPE=LVCMOS33D ;
##LOCATE COMP "ADC1_input" SITE "G19" ;
##LOCATE COMP "ADC1_error" SITE "J20" ;
##IOBUF PORT "ADC0_input" PULLMODE=NONE IO_TYPE=LVCMOS33D ;
##IOBUF PORT "ADC0_error" IO_TYPE=LVCMOS33 ;
##LOCATE COMP "ADC0_error" SITE "E18" ;
##LOCATE COMP "ADC0_input" SITE "D20" ;
##
## SDRAM;
IOBUF PORT "sdram_clk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_rasn" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_cke" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_casn" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_wen" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_csn" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_dqm[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_dqm[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_ba[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_ba[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_a[12]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_a[11]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_a[10]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_a[9]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_a[8]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_a[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_a[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_a[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_a[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_a[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_a[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_a[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_a[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_dq[15]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_dq[14]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_dq[13]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_dq[12]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_dq[11]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_dq[10]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_dq[9]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_dq[8]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_dq[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_dq[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_dq[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_dq[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_dq[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_dq[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_dq[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdram_dq[0]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "sdram_a[0]" SITE "B12" ;
LOCATE COMP "sdram_a[3]" SITE "A13" ;
LOCATE COMP "sdram_ba[0]" SITE "A12" ;
LOCATE COMP "sdram_ba[1]" SITE "D11" ;
LOCATE COMP "sdram_cke" SITE "C15" ;
LOCATE COMP "sdram_clk" SITE "C17" ;
LOCATE COMP "sdram_a[1]" SITE "C10" ;
LOCATE COMP "sdram_a[2]" SITE "D8" ;
LOCATE COMP "sdram_a[4]" SITE "D13" ;
LOCATE COMP "sdram_a[5]" SITE "C13" ;
LOCATE COMP "sdram_a[6]" SITE "B13" ;
LOCATE COMP "sdram_a[7]" SITE "D15" ;
LOCATE COMP "sdram_a[8]" SITE "D14" ;
LOCATE COMP "sdram_a[9]" SITE "A14" ;
LOCATE COMP "sdram_a[11]" SITE "C16" ;
LOCATE COMP "sdram_a[12]" SITE "C14" ;
LOCATE COMP "sdram_a[10]" SITE "D9" ;
LOCATE COMP "sdram_dqm[1]" SITE "D16" ;
LOCATE COMP "sdram_dqm[0]" SITE "A11" ;
LOCATE COMP "sdram_casn" SITE "B11" ;
LOCATE COMP "sdram_rasn" SITE "C12" ;
LOCATE COMP "sdram_wen" SITE "D12" ;
LOCATE COMP "sdram_csn" SITE "C11" ;
LOCATE COMP "sdram_dq[0]" SITE "A10" ;
LOCATE COMP "sdram_dq[1]" SITE "B9" ;
LOCATE COMP "sdram_dq[2]" SITE "B10" ;
LOCATE COMP "sdram_dq[3]" SITE "A9" ;
LOCATE COMP "sdram_dq[4]" SITE "B8" ;
LOCATE COMP "sdram_dq[5]" SITE "A8" ;
LOCATE COMP "sdram_dq[6]" SITE "C8" ;
LOCATE COMP "sdram_dq[7]" SITE "A7" ;
LOCATE COMP "sdram_dq[8]" SITE "A19" ;
LOCATE COMP "sdram_dq[9]" SITE "B18" ;
LOCATE COMP "sdram_dq[10]" SITE "A18" ;
LOCATE COMP "sdram_dq[11]" SITE "B17" ;
LOCATE COMP "sdram_dq[12]" SITE "A17" ;
LOCATE COMP "sdram_dq[13]" SITE "B15" ;
LOCATE COMP "sdram_dq[14]" SITE "B16" ;
LOCATE COMP "sdram_dq[15]" SITE "A16" ;
## SD/MMC PORT
IOBUF PORT "mmc_miso" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "mmc_dat1" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "mmc_dat2" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "mmc_n_cs" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "mmc_mosi" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "mmc_clk" IO_TYPE=LVCMOS25 ;
LOCATE COMP "mmc_miso" SITE "C2" ;
LOCATE COMP "mmc_clk" SITE "C3" ;
LOCATE COMP "mmc_mosi" SITE "B2" ;
LOCATE COMP "mmc_n_cs" SITE "B3" ;
## SYSCONFIG PARAMETERS
VCCIO_DERATE PERCENT 0;
SYSCONFIG CONFIG_IOVOLTAGE=3.3 SLAVE_SPI_PORT=DISABLE MASTER_SPI_PORT=ENABLE SLAVE_PARALLEL_PORT=DISABLE BACKGROUND_RECONFIG=OFF TRANSFR=ON CONFIG_MODE=SPI_DUAL DONE_OD=OFF DONE_EX=OFF MCCLK_FREQ=38.8 ;
## DIGITAL VIDEO OUT
IOBUF PORT "lvds_dp[0]" IO_TYPE=LVDS ;
IOBUF PORT "lvds_dp[1]" IO_TYPE=LVDS ;
IOBUF PORT "lvds_dp[2]" IO_TYPE=LVDS ;
IOBUF PORT "lvds_dp[3]" IO_TYPE=LVDS ;
LOCATE COMP "lvds_dp[2]" SITE "C1" ;
LOCATE COMP "lvds_dp[0]" SITE "A4" ;
LOCATE COMP "lvds_dp[1]" SITE "A2" ;
LOCATE COMP "lvds_dp[3]" SITE "G2" ;

# USB / PS/2
LOCATE COMP "usb_dp[0]" SITE "N2" ;
LOCATE COMP "usb_dp[1]" SITE "K2" ;
LOCATE COMP "usb_dn[0]" SITE "M1" ;
LOCATE COMP "usb_dn[1]" SITE "J1" ;
LOCATE COMP "usb_pull" SITE "N1" ;

# Constraints

# Period Constraints
FREQUENCY PORT "clk" 25.0 MHz;
FREQUENCY NET "auxclks[0]" 60.0 MHz;
FREQUENCY NET "clk_pixel" 28.6 MHz;
FREQUENCY NET "clk_sys" 114.3 MHz;
FREQUENCY NET "clk_tmds" 142.9 MHz;
FREQUENCY NET "virtual_top/sck" 28.6 MHz;

# Block Path Constraints
BLOCK PATH FROM CLKNET "auxclks[0]" TO CLKNET "clk_pixel";
BLOCK PATH FROM CLKNET "auxclks[0]" TO CLKNET "clk_sys";
BLOCK PATH FROM CLKNET "auxclks[0]" TO CLKNET "clk_tmds";
BLOCK PATH FROM CLKNET "auxclks[0]" TO CLKNET "virtual_top/sck";
BLOCK PATH FROM CLKNET "clk_sys" TO CLKNET "auxclks[0]";
BLOCK PATH FROM CLKNET "clk_sys" TO CLKNET "virtual_top/sck";
BLOCK PATH FROM CLKNET "clk_pixel" TO CLKNET "auxclks[0]";
BLOCK PATH FROM CLKNET "clk_pixel" TO CLKNET "virtual_top/sck";
BLOCK PATH FROM CLKNET "clk_tmds" TO CLKNET "auxclks[0]";
BLOCK PATH FROM CLKNET "clk_tmds" TO CLKNET "virtual_top/sck";
BLOCK PATH FROM CLKNET "virtual_top/sck" TO CLKNET "auxclks[0]";
BLOCK PATH FROM CLKNET "virtual_top/sck" TO CLKNET "clk_pixel";
BLOCK PATH FROM CLKNET "virtual_top/sck" TO CLKNET "clk_sys";
BLOCK PATH FROM CLKNET "virtual_top/sck" TO CLKNET "clk_tmds";

MULTICYCLE FROM CLKNET "clk_pixel" TO CLKNET "clk_sys" 4X;
MULTICYCLE FROM CLKNET "clk_sys" TO CLKNET "clk_pixel" 2X;

BLOCK PATH TO PORT "led[*]";

BLOCK PATH FROM CELL "virtual_top/mycfide/usbblock.u_usb_hid_host_0/typ[*]";
BLOCK PATH FROM CELL "virtual_top/mycfide/usbblock.u_usb_hid_host_1/typ[*]";
BLOCK PATH FROM CELL "virtual_top/mycfide/joystick_d*";

BLOCK PATH FROM CELL "virtual_top/minimig/overclock*";
BLOCK PATH FROM CELL "virtual_top/minimig/ide_config*";
BLOCK PATH FROM CELL "virtual_top/minimig/floppy_config*";
BLOCK PATH FROM CELL "virtual_top/minimig/chipset_config*";
BLOCK PATH FROM CELL "virtual_top/minimig/memory_config*";
BLOCK PATH FROM CELL "virtual_top/minimig/cpu_config*";

BLOCK PATH FROM CELL "virtual_top/minimig/USERIO1/osd1/xoffset*";
BLOCK PATH FROM CELL "virtual_top/minimig/USERIO1/osd1/yoffset*";
BLOCK PATH FROM CELL "virtual_top/minimig/USERIO1/osd1/lr_filter*";
BLOCK PATH FROM CELL "virtual_top/minimig/USERIO1/osd1/hr_filter*";
BLOCK PATH FROM CELL "virtual_top/minimig/USERIO1/osd1/dither*";

BLOCK PATH FROM CELL "virtual_top/minimig/AGNUS1/bc1/beamcon0*";

BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;

MULTICYCLE FROM CELL "virtual_top/tg68k/*" TO CELL "virtual_top/sdram/*" 4X ;
MULTICYCLE FROM CELL "virtual_top/tg68k/*" TO CELL "virtual_top/sdram/cache/*" 2X ;

MULTICYCLE FROM CELL "virtual_top/tg68k/pf68K_Kernel_inst/*" TO CELL "virtual_top/*" 4X ;
MULTICYCLE FROM CELL "virtual_top/tg68k/pf68K_Kernel_inst/*" TO CELL "virtual_top/tg68k/pf68K_Kernel_inst/regfile*" 4X ;
MULTICYCLE FROM CELL "virtual_top/tg68k/pf68K_Kernel_inst/*" TO CELL "virtual_top/sdram/*" 4X ;
MULTICYCLE FROM CELL "virtual_top/tg68k/pf68K_Kernel_inst/*" TO CELL "virtual_top/sdram/cache/*" 2X ;

MULTICYCLE FROM CELL "virtual_top/tg68k/pf68K_Kernel_inst/state*" TO CELL "virtual_top/*" 3X ;
MULTICYCLE FROM CELL "virtual_top/tg68k/pf68K_Kernel_inst/memaddr*" TO CELL "virtual_top/*" 3X ;
MULTICYCLE FROM CELL "virtual_top/tg68k/pf68K_Kernel_inst/memaddr*" TO CELL "virtual_top/sdram/*" 4X ;
MULTICYCLE FROM CELL "virtual_top/tg68k/pf68K_Kernel_inst/memaddr*" TO CELL "virtual_top/sdram/cache/*" 2X ;
MULTICYCLE FROM CELL "virtual_top/tg68k/pf68K_Kernel_inst/memaddr*" TO CELL "virtual_top/tg68k/pf68K_Kernel_inst/*" 4X ;
MULTICYCLE FROM CELL "virtual_top/tg68k/pf68K_Kernel_inst/addr[*]" TO CELL "virtual_top/sdram/*" 4X ;
MULTICYCLE FROM CELL "virtual_top/tg68k/pf68K_Kernel_inst/addr[*]" TO CELL "virtual_top/sdram/cache/*" 2X ;
MULTICYCLE FROM CELL "virtual_top/tg68k/pf68K_Kernel_inst/data_write*" TO CELL "virtual_top/sdram/*" 4X ;
MULTICYCLE FROM CELL "virtual_top/tg68k/pf68K_Kernel_inst/data_write*" TO CELL "virtual_top/sdram/cache/*" 2X ;

MULTICYCLE FROM CELL "virtual_top/tg68k/pf68K_Kernel_inst/regfile*" TO CELL "virtual_top/tg68k/*" 4X ;
MULTICYCLE FROM CELL "virtual_top/tg68k/pf68K_Kernel_inst/regfile*" TO CELL "virtual_top/tg68k/data_write*" 4X ;
MULTICYCLE FROM CELL "virtual_top/tg68k/pf68K_Kernel_inst/regfile*" TO CELL "virtual_top/tg68k/pf68K_Kernel_inst/*" 4X ;
MULTICYCLE FROM CELL "virtual_top/tg68k/pf68K_Kernel_inst/regfile*" TO CELL "virtual_top/tg68k/pf68K_Kernel_inst/ALU/*" 4X ;
MULTICYCLE FROM CELL "virtual_top/tg68k/pf68K_Kernel_inst/regfile*" TO CELL "virtual_top/tg68k/pf68K_Kernel_inst/regfile*" 4X ;
MULTICYCLE FROM CELL "virtual_top/tg68k/pf68K_Kernel_inst/regfile*" TO CELL "virtual_top/sdram/*" 4X ;
MULTICYCLE FROM CELL "virtual_top/tg68k/pf68K_Kernel_inst/regfile*" TO CELL "virtual_top/sdram/cache/*" 2X ;

MULTICYCLE FROM CELL "virtual_top/tg68k/addr[*]" TO CELL "*" 3X ;
MULTICYCLE FROM CELL "virtual_top/tg68k/addr[*]" TO CELL "virtual_top/minimig/CPU1/*" 3X ;
MULTICYCLE FROM CELL "virtual_top/tg68k/addr[*]" TO CELL "virtual_top/sdram/*" 4X ;
MULTICYCLE FROM CELL "virtual_top/tg68k/addr[*]" TO CELL "virtual_top/sdram/cache/*" 2X ;

MULTICYCLE FROM CELL "virtual_top/tg68k/pf68K_Kernel_inst/*" TO CELL "virtual_top/tg68k/u_akiko/*" 3X ;
MULTICYCLE FROM CELL "virtual_top/tg68k/pf68K_Kernel_inst/*" TO CELL "virtual_top/mycfide/amiga_buffer*" 3X ;

MULTICYCLE FROM CELL "virtual_top/hostcpu/nodebug.my832/*" TO ASIC "virtual_top/hostcpu/nodebug.my832/alu/genmult.mulresult_1_add[18:71]" PIN "*" 2X ;

MULTICYCLE FROM ASIC "virtual_top/hostcpu/nodebug.my832/alu/genmult.mulresult_1[0:35]" PIN "*" TO ASIC "virtual_top/hostcpu/nodebug.my832/alu/genmult.mulresult_1_add[18:71]" PIN "*" 2X ;
MULTICYCLE FROM ASIC "virtual_top/hostcpu/nodebug.my832/alu/genmult.mulresult_1[18:53]" PIN "*" TO ASIC "virtual_top/hostcpu/nodebug.my832/alu/genmult.mulresult_1_add[18:71]" PIN "*" 2X ;

MULTICYCLE FROM ASIC "virtual_top/hostcpu/nodebug.my832/alu/genmult.mulresult_1_0[0:35]" PIN "*" TO ASIC "virtual_top/hostcpu/nodebug.my832/alu/genmult.mulresult_1_add[18:71]" PIN "*" 2X ;
MULTICYCLE FROM ASIC "virtual_top/hostcpu/nodebug.my832/alu/genmult.mulresult_1_0[18:53]" PIN "*" TO ASIC "virtual_top/hostcpu/nodebug.my832/alu/genmult.mulresult_1_add[18:71]" PIN "*" 2X ;
MULTICYCLE FROM ASIC "virtual_top/hostcpu/nodebug.my832/alu/genmult.mulresult_1_0[0:35]" PIN "*" TO ASIC "virtual_top/hostcpu/nodebug.my832/alu/genmult.mulresult_1[0:35]" PIN "*" 2X ;
MULTICYCLE FROM ASIC "virtual_top/hostcpu/nodebug.my832/alu/genmult.mulresult_1_0[18:53]" PIN "*" TO ASIC "virtual_top/hostcpu/nodebug.my832/alu/genmult.mulresult_1[0:35]" PIN "*" 2X ;

MULTICYCLE FROM CELL "virtual_top/hostcpu/nodebug.my832/*" TO ASIC "virtual_top/hostcpu/nodebug.my832/alu/genmult.mulresult_1[0:35]" PIN "*" 2X ;

MULTICYCLE TO CELL "virtual_top/hostcpu/nodebug.my832/alu/*mulresult*" CLKNET "clk_sys" 2X ;

CLOCK_TO_OUT PORT "sdram_csn*" OUTPUT_DELAY 1.5 ns MIN 0.8 ns CLKNET "clk_sys" CLKOUT PORT "sdram_clk" CLK_OFFSET 0.5 X ;
CLOCK_TO_OUT PORT "sdram_a*" OUTPUT_DELAY 1.5 ns MIN 0.8 ns CLKNET "clk_sys" CLKOUT PORT "sdram_clk" CLK_OFFSET 0.5 X ;
CLOCK_TO_OUT PORT "sdram_dq*" OUTPUT_DELAY 1.5 ns MIN 0.8 ns CLKNET "clk_sys" CLKOUT PORT "sdram_clk" CLK_OFFSET 0.5 X ;
CLOCK_TO_OUT PORT "sdram_wen*" OUTPUT_DELAY 1.5 ns MIN 0.8 ns CLKNET "clk_sys" CLKOUT PORT "sdram_clk" CLK_OFFSET 0.5 X ;
CLOCK_TO_OUT PORT "sdram_rasn*" OUTPUT_DELAY 1.5 ns MIN 0.8 ns CLKNET "clk_sys" CLKOUT PORT "sdram_clk" CLK_OFFSET 0.5 X ;
CLOCK_TO_OUT PORT "sdram_casn*" OUTPUT_DELAY 1.5 ns MIN 0.8 ns CLKNET "clk_sys" CLKOUT PORT "sdram_clk" CLK_OFFSET 0.5 X ;
CLOCK_TO_OUT PORT "sdram_cke*" OUTPUT_DELAY 1.5 ns MIN 0.8 ns CLKNET "clk_sys" CLKOUT PORT "sdram_clk" CLK_OFFSET 0.5 X ;
CLOCK_TO_OUT PORT "sdram_ba*" OUTPUT_DELAY 1.5 ns MIN 0.8 ns CLKNET "clk_sys" CLKOUT PORT "sdram_clk" CLK_OFFSET 0.5 X ;
CLOCK_TO_OUT PORT "sdram_dqm*" OUTPUT_DELAY 1.5 ns MIN 0.8 ns CLKNET "clk_sys" CLKOUT PORT "sdram_clk" CLK_OFFSET 0.5 X ;
